@import url(http://fonts.googleapis.com/css?family=Oleo+Script);

@font-face {
    font-family: 'bebas';
    src: url('/assets/fonts/BEBAS-webfont.eot');
    src: url('/assets/fonts/BEBAS-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/BEBAS-webfont.woff') format('woff'),
         url('/assets/fonts/BEBAS-webfont.ttf') format('truetype'),
         url('/assets/fonts/BEBAS-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.page_container {
	.hero {

	}
	.menu_container {
		.menu_link {

		}
	}
	.page_sections {
		.page_section {

			.section_title {
				font-size: 50px;
			}

		}
		.about_section {
			.section_title {
				color: #ef0dfd;
			}
			.about_into {
				.about_intro_title {

				}
				.about_intro_text {

				}
				.about_into_seperator {

				}
			}
			.about_features {
				.about_features_title {

				}
				.feature {
					.feature_title {

					}
					.feature_text {

					}
				}
			}
			.about_contact_button {

			}
		}
		.skills_section {
			background-color: #0172bd;
			.section_title {
				color: #fff;
			}
			.skills_container {
				.skill {
					.skill_value {

					}
					.skill_title {

					}
				}
			}
		}
		.portfolio_section {
			.section_title {
				color: #0172bd;

			}
			.portfolio_tiles {
				.portfolio_tile {

				}
			}
		}
		.contact_section {
			.contact_tile {

			}
			.contact_subtitle {

			}
			.contact_form {
				.contact_intput {

				}
				.contact_submit {

				}
			}
		}
		.team_section {
			.section_title {
				color: #0172bd;

			}
			.team_text {

			}
			.team_profiles {
				.profile {
					.profile_image {

					}
					.profile_name {

					}
					.profile_title {

					}
				}
			}
		}
	}
	.footer {

	}
}